@import "../../styles/Variables";

.navigationContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $secondary-color;
  color: $text-color;

  .navBar {
    .navLinks {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 15px;
      margin: 0;

      .active {
        color: #bbfffb;
      }

      > * {
        margin-right: 1rem;
      }
    }
  }
}
