@import "../../../styles/Variables";

.project-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  color: $text-color;
  font-family: $font-family;
  background-color: $background-color;

  .overlay {

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  }

  img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h3 {
      margin-bottom: 0;
    }

    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;

      a {
        text-decoration: none;
        color: $accent-color;
        transition: all 0.1s ease-in-out;
        display: flex;
        align-items: center;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
